body {
    padding-top: 70px;
    padding-bottom: 30px;
    background: #14537c url('/static/images/background.png') repeat-x top;
    color: #eeeede;
    font-size: 1.8em;
    font-family: "Arial", "Lucida Grande", "Tahoma", sans-serif;
}

td, th {
    padding: 0px 5px 0px 5px;
}

th {
    background-color: #0f486b;
} 
.table-hover tbody tr:hover td {
  background-color: #4F94CD;
}

#impressum:hover {
  color: #4F94CD;
}
