body {
    padding-top: 70px;
    padding-bottom: 30px;
    background: #7d140c url('/static/images/background_new.png') top;
    color: #ffffff;
    font-size: 1.8em;
    font-family: "Arial", "Lucida Grande", "Tahoma", sans-serif;
}

td, th {
    padding: 0px 5px 0px 5px;
}

th {
    background-color: #b10000;
    height: 500%;
}

.table-hover tbody tr:hover td {
    background-color: #cc4646;
}

.in {
    background-color: rgb(80, 170, 124);
}

.notbold{
    font-weight:normal
}​

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(255, 123, 123);
}

a:active {
    color: rgb(255, 123, 123);
}

.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
    color: red;
}