body {
    padding-top: 70px;
    padding-bottom: 30px;
    background: #7d140c url('/static/images/background_new.png') top;
    color: #ffffff;
    font-size: 1.8em;
    font-family: "Arial", "Lucida Grande", "Tahoma", sans-serif;
}

td, th {
    padding: 0px 5px 0px 5px;
}

th {
    background-color: #0f486b;
    height: 500%;
}

.table-hover tbody tr:hover td {
    background-color: #4F94CD;
}

.in {
    background-color: #00CD66;
}

#impressum:hover {
  color: #4F94CD;
}

.notbold{
    font-weight:normal
}​