{% extends 'base.html' %}

{% block admin %}class="active"{% endblock %}

<h1>{% block title %}Event {{ event.Name }}{% endblock %}</h1>

{% block content %}

<h2>All Timeslots of {{ event.Name }}:</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Start-Time</th>
    <th>End-Time</th>
    <th>Nr Couples</th>
    <th>Age Range</th>
    <th>
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('create_timeslot', event_id = eid) }}'">
	<span class="glyphicon glyphicon-plus"></span>
      </button>
    </th>
  </tr>
  {% for s in slots %}
  <tr>
    <td>{{ s.ID }}</td>
    <td>{{ s.Date.strftime("%A %d. %B %Y") }}</td>
    <td>{{ s.StartTime }}</td>
    <td>{{ s.EndTime }}</td>
    <td>{{ s.NrCouples }}</td>
    {% if s.AgeRange == 0 %}
    <td> < 22 </td>
    {% elif s.AgeRange == 1 %}
    <td> 22-15 </td>
    {% else %}
       <td> > 25 </td>
    {% endif %}
    <td></td>
  </tr>
  <tr>
  </tr>
  {% else %}
  <tr>
    <td>No existing event!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% endfor %}
</table>

{% endblock %}
