{% extends 'base.html' %}

{% block admin %}class="active"{% endblock %}

<h1>{% block title %} TimeSlot {{ slot.Date.strftime("%d. %B %Y")  }} {{ slot.StartTime  }} - {{ slot.EndTime  }}{% endblock %}</h1>

{% block content %}
<div>
  <p>
    EMail Adressen Dabei:
  </p>
  <p>
    {{ mailinw }}
    {{ mailinm }}
  </p>
  <br>
  <p>
    EMail Adressen nicht Dabei:
  </p>
  <p>
    {{ mailoutw }}
    {{ mailoutm }}
  </p>
  <br>
</div>

<h2>Alle Damen des TimeSlots:</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>Anmeldung</th>
    <th>Familienname</th>
    <th>Vorname</th>
    <th>Geburtstag</th>
    <th>E-Mail</th>
    <th>Mobile-Nr</th>
    <th>Adresse</th>
    <th>Studium</th>
    <th>Semester</th>
    <th>Perfektes Date</th>
    <th>Frucht</th>
  </tr>
  {% for w in women %}
  {% if w.EMail in inw %}
  {% set in = true %}
  {% else %}
  {% set in = false %}
  {% endif %}
 
  <tr{% if in == true %} class="in" {% endif %}>
    <td>{{ w.ID }}</td>
    <td>{{ w.CreationTimestamp.strftime("%d.%m %H:%M") }}</td>
    <td>{{ w.Name }}</td>
    <td>{{ w.Prename }}</td>
    <td>{{ w.Birthday.strftime("%d.%m.%Y") }}</td>
    <td>{{ w.EMail }}</td>
    <td>{{ w.MobileNr }}</td>
    <td>{{ w.Address }}</td>
    <td>{{ w.StudyCourse }}</td>
    <td>{{ w.StudySemester }}</td>
    <td>{{ w.PerfectDate }}</td>
    <td>{{ w.Fruit }}</td>    
  </tr>
  <tr>
  </tr>
  {% else %}
  <tr>
    <td>Noch keine Teilnehmer!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% endfor %}
</table>

<br>

<h2>Alle Herren des TimeSlots:</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>Anmeldung</th>
    <th>Familienname</th>
    <th>Vorname</th>
    <th>Geburtstag</th>
    <th>E-Mail</th>
    <th>Mobile-Nr</th>
    <th>Adresse</th>
    <th>Studium</th>
    <th>Semester</th>
    <th>Perfektes Date</th>
    <th>Frucht</th>
  </tr>
  {% for m in men %}
  {% if m.EMail in inm %}
  {% set in = true %}
  {% else %}
  {% set in = false %}
  {% endif %}
  <tr{% if in == true %} class="in" {% endif %}>
    <td>{{ m.ID }}</td>
    <td>{{ m.CreationTimestamp.strftime("%d.%m %H:%M") }}</td>
    <td>{{ m.Name }}</td>
    <td>{{ m.Prename }}</td>
    <td>{{ m.Birthday.strftime("%d.%m.%Y") }}</td>
    <td>{{ m.EMail }}</td>
    <td>{{ m.MobileNr }}</td>
    <td>{{ m.Address }}</td>
    <td>{{ m.StudyCourse }}</td>
    <td>{{ m.StudySemester }}</td>
    <td>{{ m.PerfectDate }}</td>
    <td>{{ m.Fruit }}</td>
  </tr>
  <tr>
  </tr>
  {% else %}
  <tr>
    <td>Noch keine Teilnehmer!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
