{% from "_formhelpers.html" import render_field, render_radio, render_datetime_field %}

{% extends 'base.html' %}

{% block admin %}class="active"{% endblock %}

<h1>{% block title %}Speeddating Events {{ event.name }} {% endblock %}</h1>

{% block content %}
<h2>Änderung des Events:</h2>

<form action = {{ url_for('edit_event', event_id=event.id) }} method = "POST">
  <dl>
    {{ form.csrf_token }}
    {{ render_field(form.name) }}
    {{ render_field(form.year) }}
    {{ render_radio(form.semester) }}
    {{ render_field(form.place) }}
    {{ render_field(form.participation_fee) }}
    {{ render_radio(form.special_slots) }}
    {{ render_field(form.special_slots_name) }}
    {{ render_field(form.special_slots_description) }}
    {{ render_datetime_field(form.open_signup_timestamp) }}
    {{ render_datetime_field(form.close_signup_timestamp) }}
  </dl>
  <div class="btn-group"> 
      <button id="btn-space" style="float:left" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('admin') }}'">
          <span class="glyphicon glyphicon-arrow-left"></span> Zurück zu Events
      </button>
  
      <button type = "submit" class="btn btn-default">Anpassen</button>
    </div>
</form>

{% endblock %}
