{% extends 'base.html' %}

{% block admin %}class="active"{% endblock %}

<h1>{% block title %}Event {{ event.Name }}{% endblock %}</h1>

{% block content %}

<br>

{% for slot in slots %}


<h2>TimeSlot ID {{ slot.ID  }}:   {{ slot.Date.strftime("%d. %B %Y")  }} {{ slot.StartTime  }} - {{ slot.EndTime  }}</h2>

<div>
  
  <p>
    EMail Adressen Dabei:
  </p>
  <p>
    {{ mailinw[loop.index-1] }}
    {{ mailinm[loop.index-1] }}
  </p>
  <br>
  <p>
    EMail Adressen nicht Dabei:
  </p>
  <p>
    {{ mailoutw[loop.index-1] }}
    {{ mailoutm[loop.index-1] }}
  </p>
  <br>
</div>

<table class="table table-hover">
  <tr >
    <th>Best</th>
    <th>Anw</th>
    <th>Bez</th>
    <th>Anmeldungs- <br> Zeitpunkt</th>
    <th>Nachname</th>
    <th>Vorname</th>
    <th>Geburtstag</th>
    <th>E-Mail</th>
    <th>Mobile-Nr</th>
    <th>Adresse</th>
    <th>Sem.</th>
    <th>Studium</th>
  </tr>
  <tr>
    <th align="center" colspan="14">Women</th>
  </tr>

  

  
  {% for w in women[loop.index-1] %}

  {% if w.EMail in inw %}
  {% set in = true %}
  {% else %}
  {% set in = false %}
  {% endif %}
 
				       
  <tr{% if in == true %} class="in" {% endif %}>
    <td>
      {{ w.Confirmed }}
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('register_participant', event_id=event.ID, participant_id = w.ID, register = '0') }}'">an / abmelden</button>
    </td>
    <td>{{ w.Present }}</td>
    <td>{{ w.Payed }}</td>
    <td>{{ w.CreationTimestamp.strftime("%d.%m %H:%M") }}</td>
    <td>{{ w.Name }}</td>
    <td>{{ w.Prename }}</td>
    <td>{{ w.Birthday.strftime("%d.%m.%Y") }}</td>
    <td>{{ w.EMail }}</td>
    <td>{{ w.MobileNr }}</td>
    <td>{{ w.Address }}</td>
    <td>{{ w.StudySemester }}</td>
    <td>{{ w.StudyCourse }}</td> 
  </tr>
  {% else %}
  <tr>
    <td>Noch keine Teilnehmer!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% endfor %}

  <tr>
    <th align="center" colspan="14">Men</th>
  </tr>
  {% for m in men[loop.index-1] %}
  {% if m.EMail in inm %}
  {% set in = true %}
  {% else %}
  {% set in = false %}
  {% endif %}
  <tr{% if in == true %} class="in" {% endif %}>
    <td>
      {{ m.Confirmed }}
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('register_participant', event_id=event.ID, participant_id = m.ID, register = '0') }}'">an / abmelden</button>
    </td>
    <td>{{ m.Present }}</td>
    <td>{{ m.Payed }}</td>
    <td>{{ m.CreationTimestamp.strftime("%d.%m %H:%M") }}</td>
    <td>{{ m.Name }}</td>
    <td>{{ m.Prename }}</td>
    <td>{{ m.Birthday.strftime("%d.%m.%Y") }}</td>
    <td>{{ m.EMail }}</td>
    <td>{{ m.MobileNr }}</td>
    <td>{{ m.Address }}</td>
    <td>{{ m.StudySemester }}</td>
    <td>{{ m.StudyCourse }}</td>    
  </tr>
  <tr>
  </tr>
  {% else %}
  <tr>
    <td>Noch keine Teilnehmer!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% endfor %}


</table>

<br>

{% endfor %}
{% endblock %}
