{% extends 'base.html' %}

{% block admin %}class="active"{% endblock %}

<h1>{% block title %}Event {{ event.name }}{% endblock %}</h1>

{% block content %}

<br>

{% for slot in slots %}


<h2>TimeSlot ID {{ slot.id  }}:   {{ slot.date.strftime("%d. %B %Y")  }} {{ slot.start_time  }} - {{ slot.end_time  }}</h2>

<div>
  
  <p>
    EMail Adressen Dabei:
  </p>
  <p>
    {{ mailinw[loop.index-1] }}
    {{ mailinm[loop.index-1] }}
  </p>
  <br>
  <p>
    EMail Adressen nicht Dabei:
  </p>
  <p>
    {{ mailoutw[loop.index-1] }}
    {{ mailoutm[loop.index-1] }}
  </p>
  <br>
</div>

<table class="table table-hover">
  <tr >
    <th>Best</th>
    <th>Anw</th>
    <th>Bez</th>
    <th>Anmeldungs- <br> Zeitpunkt</th>
    <th>Nachname</th>
    <th>Vorname</th>
    <th>Geburtstag</th>
    <th>E-Mail</th>
    <th>Mobile-Nr</th>
    <th>Adresse</th>
    <th>Sem.</th>
    <th>Studium</th>
  </tr>
  <tr>
    <th align="center" colspan="14">Women</th>
  </tr>

  

  
  {% for w in women[loop.index-1] %}

  {% if w.email in inw %}
  {% set in = true %}
  {% else %}
  {% set in = false %}
  {% endif %}
 
				       
  <tr{% if in == true %} class="in" {% endif %}>
    <td>
      {{ w.confirmed }}
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('register_participant', event_id=event.id, participant_id = w.id, register = '0') }}'">an / abmelden</button>
    </td>
    <td>{{ w.present }}</td>
    <td>{{ w.payed }}</td>
    <td>{{ w.creation_timestamp.strftime("%d.%m %H:%M") }}</td>
    <td>{{ w.name }}</td>
    <td>{{ w.prename }}</td>
    <td>{{ w.birthday.strftime("%d.%m.%Y") }}</td>
    <td>{{ w.email }}</td>
    <td>{{ w.mobile_nr }}</td>
    <td>{{ w.address }}</td>
    <td>{{ w.study_semester }}</td>
    <td>{{ w.study_course }}</td> 
  </tr>
  {% else %}
  <tr>
    <td>Noch keine Teilnehmer!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% endfor %}

  <tr>
    <th align="center" colspan="14">Men</th>
  </tr>
  {% for m in men[loop.index-1] %}
  {% if m.email in inm %}
  {% set in = true %}
  {% else %}
  {% set in = false %}
  {% endif %}
  <tr{% if in == true %} class="in" {% endif %}>
    <td>
      {{ m.confirmed }}
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('register_participant', event_id=event.id, participant_id = m.id, register = '0') }}'">an / abmelden</button>
    </td>
    <td>{{ m.present }}</td>
    <td>{{ m.payed }}</td>
    <td>{{ m.creation_timestamp.strftime("%d.%m %H:%M") }}</td>
    <td>{{ m.name }}</td>
    <td>{{ m.prename }}</td>
    <td>{{ m.birthday.strftime("%d.%m.%Y") }}</td>
    <td>{{ m.email }}</td>
    <td>{{ m.mobile_nr }}</td>
    <td>{{ m.address }}</td>
    <td>{{ m.study_semester }}</td>
    <td>{{ m.study_course }}</td>    
  </tr>
  <tr>
  </tr>
  {% else %}
  <tr>
    <td>Noch keine Teilnehmer!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% endfor %}


</table>

<br>

{% endfor %}
{% endblock %}
