{% extends 'base.html' %}

{% block admin %}class="active"{% endblock %}

<h1>{% block title %}Event {{ event.name }}{% endblock %}</h1>

{% block content %}
{{nr_women}}
{{nr_men}}
<h2>All Timeslots of {{ event.name }}:</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>
      <button type="button" class="btn btn-default btn-xs" onclick="window.location.href='{{ url_for('create_timeslot', event_id = event.id) }}'">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </th>
    <th>ID</th>
    <th>Datum</th>
    <th>Start- <br> Zeit</th>
    <th>End- <br> Zeit</th>
    <th>Spezial- <br> Slot</th>
    <th>Alters- <br> Gruppe</th>
    <th># Frauen Anm.<br> bestätigt / verf. Plätze</th>
    <th># Herren Anm.<br> bestätigt / verf. Plätze</th>
  </tr>
  {% for s in slots %}
  <tr>
    <td>
      <button type="button" class="btn btn-default btn-xs" onclick="window.location.href='{{ url_for('edit_timeslot', timeslot_id = s.id) }}'">
          <span class="glyphicon glyphicon-edit"></span>
      </button>
    </td>
    <td onclick="window.location.href='{{ url_for('timeslot_view', timeslot_id = s.id) }}'">{{ s.id }}</td>
    <td onclick="window.location.href='{{ url_for('timeslot_view', timeslot_id = s.id) }}'">{{ s.date.strftime("%d.%m.%Y") }}</td>
    <td onclick="window.location.href='{{ url_for('timeslot_view', timeslot_id = s.id) }}'">{{ s.start_time.strftime('%H:%M') }}</td>
    <td onclick="window.location.href='{{ url_for('timeslot_view', timeslot_id = s.id) }}'">{{ s.end_time.strftime('%H:%M') }}</td>
    <td onclick="window.location.href='{{ url_for('timeslot_view', timeslot_id = s.id) }}'">
        {% if not s.special_slot %}
        no
        {% elif s.special_slot %}
        yes
        {% endif %}
    </td>
    <td onclick="window.location.href='{{ url_for('timeslot_view', timeslot_id = s.id) }}'">
      {% if s.age_range == 0 %}
      < 22
      {% elif s.age_range == 1 %}
      22-25
      {% elif s.age_range == 2 %}
      > 25 
      {% else %}
      does not matter 
      {% endif %}
    </td>
    <td onclick="window.location.href='{{ url_for('timeslot_view', timeslot_id = s.id) }}'">{{ nr_women_confirmed[loop.index-1] }} / {{ s.nr_couples }}</td>
    <td onclick="window.location.href='{{ url_for('timeslot_view', timeslot_id = s.id) }}'">{{ nr_men_confirmed[loop.index-1] }} / {{ s.nr_couples }}</td>
  </tr>
  <tr>
  </tr>
  {% else %}
  <tr>
    <td>No existing timeslots!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
</table>

<div class="btn-group">
  <button id="btn-space" style="float:left" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('admin') }}'">
    <span class="glyphicon glyphicon-arrow-left"></span> Zurück zur Übersicht
  </button>
  <button class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('event_participants', event_id = event.id) }}'"> See all Participants </button>
</div>
{% endblock %}
