{% extends 'base.html' %}

<h1>{% block title %} Matches für TimeSlot {{ slot.date.strftime("%d. %B %Y") }} {{ slot.start_time }} - {{ slot.end_time }}{% endblock %}</h1>

{% block content %}

<div class="row">
    <div class="col-sm-6"> 
        <h2>Frauen</h2>


    </div>

    <div class="col-sm-6">
        <h2>Männer</h2>

    </div>
</div>



<div class="row">
    <div class="col">
            {% if matches|length <= 0 %}
                <p>Es gibt keine Matches in diesem Timeslot :(</p>
            {% else %}
                <ul>
                    {% for match in matches %}
                        <li>{{ match[0] }} hat Interesse an {{ match[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    </div>
</div>



<div class="row">
    <div class="col">
        <form action="/matches/{{ slot.id }}" method="post">
            {{ form.csrf_token }}
            <button class="btn btn-default">
                Matches verschicken
            </button>
        </form>
    </div>
</div>
{% endblock content %}
