{% from "_formhelpers.html" import render_field, render_radio, render_date_field, render_time_field,render_checkbox_field %}

{% extends 'base.html' %}

{% block anmeldung %}class="active"{% endblock %}

<h1>{% block title %}Anmeldung{% endblock %}</h1>


{% block content %}

<div>
	<h2>Speed Dating Fragebogen</h2>
	<p>
	Wir freuen uns, dass du an unserem Speed-Dating teilnehmen möchtest. Hier noch ein paar Informationen zum Fragebogen:
	</p>
	<ul>
		<li>Mit einem <strong>Sternchen (*) markierte Fragen sind obligatorisch</strong> und müssen beantwortet werden.</li>
		<li>Fragen die kein Sternchen haben sind freiwillig und müssen nicht unbedingt beantwortet werden.</li>
		<li>Man kann sich für genau <strong>einen Termin</strong> anmelden. </li>
		<li>Sämtliche Angaben sind sind zur internen Verwendung und werden nicht veröffentlicht. </li>
	</ul>
	<p class="formInfo">
	Viel Spass beim ausfüllen und falls du Fragen hast, schreib einfach eine Mail an <strong><i><u>speeddating@amiv.ethz.ch</u></i></strong> <br><br>

	Dein Speed-Dating Team
	</p>
</div>

{% if event != None %}
{% if event.is_open() and event.active %}
{% set open = True %}
{% else %}
{% set open = False %}
{% endif %}
{% else %}
{% set open = False %}
{% endif %}

{% if open %}
<form action = {{ url_for('signup') }} method = "POST">
  {{ form.csrf_token }}
  {{ render_field(form.name) }}
  {{ render_field(form.prename) }}
  {{ render_radio(form.gender) }}
  {{ render_field(form.email) }}
  {{ render_field(form.email2) }}
  {{ render_field(form.mobile_nr) }}
  {{ render_field(form.address) }}
  {{ render_field(form.birthday) }}
  {{ render_field(form.study_course) }}
  {{ render_field(form.study_semester) }}
  {% if form.availableslots.choices %}
  {{ render_radio(form.availableslots) }}
  {% endif %}
  {% if form.availablespecialslots.choices %}
  {{ render_radio(form.availablespecialslots) }}
  {% endif %}
  {{ render_field(form.perfect_date) }}
  {{ render_field(form.fruit) }}
  <div style="text-align:center;">
    <button type = "submit" class="btn btn-default">Anmelden</button>
  </div>
</form>

{% else %}
<br>
<h2>Anmeldung ist momentan geschlossen!</h2>
{% endif %}

{% endblock %}
