{% from "_formhelpers.html" import render_default_field, render_field %}

{% extends 'base.html' %}

{% block admin %}class="active"{% endblock %}

<h1>{% block title %} TimeSlot {{ slot.Date.strftime("%d. %B %Y")  }} {{ slot.StartTime  }} - {{ slot.EndTime  }}{% endblock %}</h1>

{% block content %}

<h2>Alle Damen des TimeSlots:</h2>
<table class="table table-striped table-hover">
  <tr>
    <th> </th>
    <th>Bezahlt</th>
    <th>Familienname</th>
    <th>Vorname</th>
    <th>Geburtstag</th>
    <th>E-Mail</th>
    <th>Mobile-Nr</th>
    <th>Adresse</th>
    <th>DateNr</th>
    <th> </th>
  </tr>
  {% for w in women %}
  <tr>
    <td>
      {% if not w.Payed %}
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('change_participant_on_timeslot', slot_id = slot.ID, participant_id = w.ID, action='payed') }}'">
	bezahlen
      </button>
      {% endif %}

    </td>
    <td>
      {% if w.Payed %}
      Ja
      {% else %}
      Nein
      {% endif %}
    </td>
    <td>{{ w.Name }}</td>
    <td>{{ w.Prename }}</td>
    <td>{{ w.Birthday.strftime("%d.%m.%Y") }}</td>
    <td>{{ w.EMail }}</td>
    <td>{{ w.MobileNr }}</td>
    <td>{{ w.Address }}</td>
    <td>{{ w.DateNr }}</td>
    <td>
      <form action = {{ url_for('timeslot_view_ongoing', timeslot_id=slot.ID) }} method = "POST">
        {{ form.csrf_token }}
	      {{ render_default_field(form.participant_id, w.ID, false) }}
	      {{ render_field(form.datenr, false) }}
	      <button type = "submit" class="btn btn-default">Go</button>
      </form>
    </td>
  </tr>
  <tr>
  </tr>
  {% else %}
  <tr>
    <td>Noch keine Teilnehmer!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% endfor %}
</table>

<br>

<h2>Alle Herren des TimeSlots:</h2>
<table class="table table-striped table-hover">
  <tr>
    <th> </th>
    <th>Bezahlt</th>
    <th>Familienname</th>
    <th>Vorname</th>
    <th>Geburtstag</th>
    <th>E-Mail</th>
    <th>Mobile-Nr</th>
    <th>Adresse</th>
    <th>DateNr</th>
    <th> </th>
  </tr>
  {% for m in men %}
  <tr>
    <td>
      {% if not m.Payed %}
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('change_participant_on_timeslot', slot_id = slot.ID, participant_id = m.ID, action='payed') }}'">
	bezahlen
      </button>
      {% endif %}
    </td>
    <td>
      {% if m.Payed %}
      Ja
      {% else %}
      Nein
      {% endif %}
    </td>
    <td>{{ m.Name }}</td>
    <td>{{ m.Prename }}</td>
    <td>{{ m.Birthday.strftime("%d.%m.%Y") }}</td>
    <td>{{ m.EMail }}</td>
    <td>{{ m.MobileNr }}</td>
    <td>{{ m.Address }}</td>
    <td>{{ m.DateNr }}</td>
    <td>
      <form action = {{ url_for('timeslot_view_ongoing', timeslot_id=slot.ID) }} method = "POST">
        {{ form.csrf_token }}
        {{ render_default_field(form.participant_id, m.ID, false) }}
	      {{ render_field(form.datenr, false) }}
	      <button type = "submit" class="btn btn-default">Go</button>
      </form>
    </td>
  </tr>
  <tr>
  </tr>
  {% else %}
  <tr>
    <td>Noch keine Teilnehmer!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
</table>

<div style="text-align:center;">
  <button type="button" class="btn btn-default btn-m" onclick="window.location.href='{{ url_for('export_slot', timeslot_id = slot.ID) }}'">
    Exportieren
  </button>
</div>

{% endblock %}
