{% extends 'base.html' %}

{% block admin %}class="active"{% endblock %}

<h1>{% block title %} TimeSlot {{ slot.date.strftime("%d. %B %Y")  }} {{ slot.start_time  }} - {{ slot.end_time  }}{% endblock %}</h1>

{% block content %}
<div>
  <p>
    email Adressen Dabei:
  </p>
  <p>
    {{ mailinw }}
    {{ mailinm }}
  </p>
  <br>
  <p>
    email Adressen nicht Dabei:
  </p>
  <p>
    {{ mailoutw }}
    {{ mailoutm }}
  </p>
  <br>
</div>

<br>
<div style="text-align:left;">
  <button type="button" class="btn btn-default btn-m" onclick="window.location.href='{{ url_for('timeslot_view_ongoing', timeslot_id=slot.id) }}'">
    On-going Event
  </button>
</div>
<br>

<h2>Alle Damen des TimeSlots:</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>
      <button style="float:left" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('manual_signup') }}'">
	<span class="glyphicon glyphicon-plus"></span>
      </button>
    </th>
    <th></th>
    <th>Bestätigt/<br>Anwesend/<br>Bezahlt</th>
    <th>Anmeldung</th>
    <th>Familien-<br>Namen</th>
    <th>Vorname</th>
    <th>Geburtstag</th>
    <th>E-Mail</th>
    <th>Mobile-Nr</th>
    <th>Adresse</th>
  </tr>
  {% for w in women %}
  {% if w.email in mailinw %}
  {% set in = true %}
  {% else %}
  {% set in = false %}
  {% endif %}
 
  <tr{% if in == true %} class="in" {% endif %}>
    <td>
        <button style="float:left" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('edit_participant', timeslot_id = slot.id, participant_id = w.id) }}'">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
    </td>
    <td>
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('change_participant_on_timeslot', slot_id = slot.id, participant_id = w.id, action='present') }}'">
	{% if w.present %}
	abwesend
	{% else %}
	anwesend
	{% endif %}
      </button>
      {% if w.present %}
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('change_participant_on_timeslot', slot_id = slot.id, participant_id = w.id, action='paid') }}'">
	{% if w.paid %}
	nicht bezahlt
	{% else %}
	bezahlt
	{% endif %}
      </button>
      {% endif %}
    </td>
    <td>
      {% if w.confirmed %}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {% else %}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {% endif %}
      /
      {% if w.present %}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {% else %}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {% endif %}
      /
      {% if w.paid %}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {% else %}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {% endif %}
    </td>
    <td>{{ w.creation_timestamp.strftime("%d.%m %H:%M") }}</td>
    <td>{{ w.name }}</td>
    <td>{{ w.prename }}</td>
    <td>{{ w.birthday.strftime("%d.%m.%Y") }}</td>
    <td>{{ w.email }}</td>
    <td>{{ w.mobile_nr }}</td>
    <td>{{ w.address }}</td> 
  </tr>
  <tr>
  </tr>
  {% else %}
  <tr>
    <td>Noch keine Teilnehmer!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% endfor %}
</table>

<br>

<h2>Alle Herren des TimeSlots:</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>
      <button style="float:left" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('manual_signup') }}'">
	<span class="glyphicon glyphicon-plus"></span>
      </button>
    </th>
    <th></th>
    <th>Bestätigt/<br>Anwesend/<br>Bezahlt</th>
    <th>Anmeldung</th>
    <th>Familien-<br>Namen</th>
    <th>Vorname</th>
    <th>Geburtstag</th>
    <th>E-Mail</th>
    <th>Mobile-Nr</th>
    <th>Adresse</th>
  </tr>
  {% for m in men %}
  {% if m.email in mailinm %}
  {% set in = true %}
  {% else %}
  {% set in = false %}
  {% endif %}
  <tr{% if in == true %} class="in" {% endif %}>
    <td>
        <button style="float:left" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('edit_participant', timeslot_id = slot.id, participant_id = m.id) }}'">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
    </td>
    <td>
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('change_participant_on_timeslot', slot_id = slot.id, participant_id = m.id, action='present') }}'">
	{% if m.present %}
	abwesend
	{% else %}
	anwesend
	{% endif %}
      </button>
      {% if m.present %}
      <button style="float:right" type="button" class="btn btn-default btn-s" onclick="window.location.href='{{ url_for('change_participant_on_timeslot', slot_id = slot.id, participant_id = m.id, action='paid') }}'">
	{% if m.paid %}
	nicht bezahlt
	{% else %}
	bezahlt
	{% endif %}
      </button>
      {% endif %}
    </td>
    <td>
      {% if m.confirmed %}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {% else %}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {% endif %}
      /
      {% if m.present %}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {% else %}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {% endif %}
      /
      {% if m.paid %}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {% else %}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {% endif %}
    </td>
    <td>{{ m.creation_timestamp.strftime("%d.%m %H:%M") }}</td>
    <td>{{ m.name }}</td>
    <td>{{ m.prename }}</td>
    <td>{{ m.birthday.strftime("%d.%m.%Y") }}</td>
    <td>{{ m.email }}</td>
    <td>{{ m.mobile_nr }}</td>
    <td>{{ m.address }}</td>
  </tr>
  <tr>
  </tr>
  {% else %}
  <tr>
    <td>Noch keine Teilnehmer!</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
